<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nubank-Chargeback.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61F78A331F6B77FB00F94CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61F78A471F6B77FB00F94CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61F78A521F6B77FB00F94CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
